body {
  color: rgb(7, 7, 35);
  background-color: rgb(235, 235, 235);
  font-family: 'Comfortaa', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  overflow: scroll;
}

nav {
  background-image: linear-gradient(to right, rgb(7, 7, 35), rgb(7, 61, 67));
}

.main-button {
  color: rgb(255, 255, 255);
  background-color: rgb(253, 84, 38);
  transition: 0.3s;
}
.main-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(226, 50, 2);
}

.main-button-outline {
  color: rgb(253, 84, 38);
  background-color: transparent;
  border-color: rgb(253, 84, 38);
  transition: 0.3s;
}
.main-button-outline:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(226, 50, 2);
  border-color: rgb(226, 50, 2);
}

.main-header {
  font-family: "Bauhaus 93";
}

.dashboard-headline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#items-table {
  border: none;
}

#items-table-head > tr {
  color: rgb(236, 236, 236);
  background-image: linear-gradient(to right, rgb(102, 40, 7), rgb(100, 75, 5));
  border: none;
}


#items-table-body > tr {
  background-image: linear-gradient(to right, rgb(235, 186, 50), rgb(224, 221, 119));
  border: none;
}

#items-table-body > tr > th {
  border: none;
}

#items-table-body > tr > td {
  border: none;
}

#shipment-items-card-body {
  font-size: 14pt;
}

#shipment-card {
  background-image: linear-gradient(to right, rgb(222, 215, 232), rgb(188, 201, 216));
}

#delivery-progress-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
