<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head"}}
    <title>Ventry | Dashboard</title>
  </head>
  <body>
    {{ template "navbar" }}
    <br />
    <div class="container">
      <h1 class="display-5">Dashboard</h1>
      <div class="dashboard-headline-container">
        <h1 class="display-6">Inventory Items</h1>
        <div>
          <button class="btn main-button" onclick="exportCSV();">Export CSV</button>
        </div>
      </div>
      <table id="items-table" class="table table-hover table-borderless" cellspacing="0" cellpadding="0">
        <thead id="items-table-head">
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Supplier</th>
            <th>Created At</th>
            <th>Modified At</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="items-table-body">
          {{ range $item := .Items }}
            <tr>
              <td>{{ $item.Product }}</td>
              <td>{{ $item.Quantity }}</td>
              <td>${{ $item.Price }}</td>
              <td>{{ $item.Supplier }}</td>
              <td>{{ $item.CreatedAt }}</td>
              <td>{{ $item.ModifiedAt }}</td>
              <td>
                <a href="/items/edit/{{ $item.ItemId }}">
                  <img alt="Edit Icon" src="/static/images/edit_icon.png" width="25" />
                </a>
              </td>
              <td>
                <a href="javascript:deleteItem({{ $item.ItemId }});">
                  <img alt="Delete Icon" src="/static/images/delete_icon.png" width="25" />
                </a>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      <h1 class="display-6">Shipments</h1>
      <div class="accordion" id="shipment-accordion">
        {{ range $shipment := .Shipments }}
          <div id="shipment-card" class="card">
            <div class="card-header" id="shipment-header-{{ $shipment.ShipmentId }}">
              Shipper: <span class="badge bg-primary">{{ $shipment.Shipper }}</span>&nbsp;
              Receiver: <span class="badge bg-info text-dark">{{ $shipment.Receiver }}</span>&nbsp;
              <button class="btn main-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ $shipment.ShipmentId }}" aria-expanded="false" aria-controls="collapse-{{ $shipment.ShipmentId }}">
                Details
              </button>
            </div>
            <div id="collapse-{{ $shipment.ShipmentId }}" class="collapse" aria-labelledby="shipment-header-{{ $shipment.ShipmentId }}" data-bs-parent="#shipment-accordion">
              <div id="shipment-items-card-body" class="card-body">
                Items:
                <br />
                {{ range $shipment_item := $shipment.Items }}
                  <span class="badge bg-danger">{{ $shipment_item.Product }} <span class="badge bg-warning text-dark">{{ $shipment_item.Quantity }}</span></span><br />
                {{ end }}
                <br />
                Estimated Days Till Delivery: {{ $shipment.DaysUntil }}
                <div id="delivery-progress-container">
                  <div class="progress" style="border: 1px solid rgb(24, 24, 66); width: 250px">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ $shipment.PercentageShipped }}" aria-valuemin="0" aria-valuemax="{{ $shipment.DaysTotal }}" style="width: {{ $shipment.PercentageShipped }}%;"></div>
                  </div>
                  &nbsp;
                  <img alt="Delivery Icon" src="/static/images/delivery_icon.png" width="50" />
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    {{ template "scripts" }}
    <script src="/static/js/dashboard.js"></script>
  </body>
</html>
